/* why 50px? to avoid zooming: https://github.com/jquery/jquery-mobile/issues/2069 */

textarea {
    width: 100%;
    height: 200px;
    font-size: 50px;
}

input[type=text]{
    font-size: 50px;
    margin: 0;
}

label {
    margin-right: 1em;
    white-space: nowrap;
}

